:root {
  --bg-body: #000;
  --color-primario: #fafaf5;
  --bg-section: #1e1a13;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(67, 134, 0);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(92, 184, 0);
}

body {
  font-family: "Raleway", sans-serif;
  background: var(--bg-body);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header-landing {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.header-landing .landing-titulo h1 {
  font-size: 3.125rem;
  color: var(--color-primario);
  font-weight: lighter;
}

.contenedor-banner {
  width: 100%;
  position: relative;
}
.contenedor-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1000;
  background: linear-gradient(to bottom, #000, transparent);
}
.contenedor-banner .landing-banner img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.landing-info {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 80px;
  scroll-snap-align: start;
}
.landing-info .contenedor-texto {
  display: flex;
  align-items: center;
  max-width: 500px;
  height: auto;
}
.landing-info .contenedor-texto p {
  color: var(--color-primario);
}
.landing-info .contenedor-img-info {
  max-width: 500px;
}
.landing-info .contenedor-img-info img {
  width: 100%;
  transition: all 0.5s;
}
.landing-info .contenedor-img-info::before {
  transform: translateX(900px);
}

.contendor-caracteristicas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: var(--bg-section);
}
.contendor-caracteristicas .titulo-caracteristicas h2 {
  color: var(--color-primario);
  font-size: 2.5rem;
  font-weight: 500;
}
.contendor-caracteristicas .contenedor-img-caracteristicas {
  display: flex;
  justify-content: center;
}
.contendor-caracteristicas .contenedor-img-caracteristicas .box-icono {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 250px;
}
.contendor-caracteristicas .contenedor-img-caracteristicas .box-icono i {
  color: var(--color-primario);
  font-size: 60px;
}
.contendor-caracteristicas .contenedor-img-caracteristicas .box-icono span {
  color: var(--color-primario);
  font-size: 25px;
  margin-top: 20px;
  font-weight: lighter;
}

.contenedor-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.contenedor-galeria .galeria-img {
  max-width: 350px;
  max-height: 250px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s;
}
.contenedor-galeria .galeria-img img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.contenedor-galeria .galeria-img img:hover {
  transform: scale(1.2);
}

.contenedor-footer {
  background: var(--bg-section);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}
.contenedor-footer .box-footer span {
  color: var(--color-primario);
  font-size: 1.25rem;
}

@media (300px <= width <= 768px) {
  .landing-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .contendor-caracteristicas {
    padding: 40px 20px;
  }
  .contendor-caracteristicas .titulo-caracteristicas h2 {
    font-size: 2rem;
  }
  .contendor-caracteristicas .contenedor-img-caracteristicas {
    flex-direction: column;
  }
  .contenedor-galeria {
    flex-direction: column;
    padding: 40px 20px;
  }
  .contenedor-galeria .galeria-img {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .contenedor-footer .box-footer span {
    font-size: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */